<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
测试
<a href="/do">下载</a>
<a href="/static/1111.xlsx">下载图片</a>
<a href="/static/a.js">下载js</a>
<p>{{sname}}</p>
</body>
</html>